{% extends "layout.html" %}
{% block title %}Sageru IRC Network{% endblock %}
{% block content %}
<div class="infobox">
  <p>
    The Sageru IRC network is an anonymous IRC network in the style of textboards
    and image boards. It runs a custom IRC server that overrides the name displayed for
    users so they all appear anonymous. In fact, even channel moderators cannot
    view your username.
  </p>
  
  <div id="conn-info">
    <a href="irc://irc.sageru.org" id="join-now">Join Now!</a><br><br>
    <b>Server address</b>: irc.sageru.org<br>
    <b>SSL Port: </b> 6697<br>
    <b>Non-SSL Port:</b> 6667<br>	  
  </div>  
</div>

<div style="font-family:Mona,'MS PGothic' !important;">
  <br>　　　　　　　　　　　　　　　　　　／￣￣￣￣￣￣￣￣￣￣＼
  <br>　　　　　　　　　　　　　　　　　　|　ｊｕｓｔ  ｃｌｉｃｋ  ｉｔ  ａｌｒｅａｄｙ！   |
  <br>　　　　　　　　　　　　　　　　　　＼＿　 ＿＿＿＿＿＿＿＿／
  <br>　　　　　　　　　　　　　　　　　　　　　∨
  <br>　　　　　　　　　　　 ,　ー─ --　　 ．
  <br>　　　　　　　　　 , ' ´ 　　 　 　 　 　 　 ｀丶､
  <br>　　　　　　　　/ 　l　 　　　　　_,　　-――一 ､
  <br>.　　　　　　　/＿　!　 _ -　': : :,､ : : : : : :,. ､: : : :＼
  <br>　　　　　　　 ￣＼;,: : : : : :/|:/__＼: : : /__ |/: :厂｀
  <br>　　　　　　　 　 　 |/＼ : /ｌ'ﾘ ,.　_｀＼/´__｀ﾚ;'
  <br>　　　　　　　　　 　 |: : ∨.:! '"￣`　　 '⌒ヾ|: :!
  <br>　　　　　　　　　 　 |:.( !:.: :|""　　 　　 　""}: :|
  <br>　　　　　　　　　 　 |:.｀|: : :| 　　i　￣￣} 　八:|
  <br>　　　　　　　 　 　　|: :.|: : :ﾄ､._　､ ＿ ノ ,.ｲ |.: !
  <br>　　　　　　　　 　 　|_,人 :八!　 　 　{__,|,.､|.:|.: !
  <br>　　 　 　 　 　 　 〃⌒ヽﾞ､: |.__ 　 　_.//　 i!.｀ﾄ.､
  <br>　　　　　　　 　 /　 　　l| |: :|＼　　 //　 　l . |: :ｌ ､
  <br>.　　　　　 　 　/　　　 _,l| |: :| ヽ＼//'　　　 V'!.: !　＼
  <br>　　　　　　　 /　　　/_,. ',.|: :|　　`y' 　 　 　 | |: :|　　 i
  <br>.　　　　　　 /　　／.:￣:.＼.:ゝ 　 ,;　　　 　 ﾉく:／.:￣:.＼
  <br>　　　　　　/　⌒{..::{´￣ ⌒'､ 　　　　　 ,"/ 　ｲ.:.ｶ⌒ヽ:::.}
  <br>　　　　　　ヽ､.＿＼ﾍ_ﾊ_ﾉ丿三l!＼ 　 　 { ／l!三ﾉﾉ_ﾊ.ﾉ'＿
  <br>　　　　　　 ｧ'´ 　 ヽ.￣｀｀ｰ''.　　＼＼__／／ __｀ｰ‐''´　,/￣｀ .
  <br>　　　 　 　 l　 　 　　＼,(０)＼` ､.　＼_,／ 　　ﾉ´0)/￣｀　　　ﾉ
  <br>　　　　 　 　＼　 　　　　!.　　 ,l 　 r┤ｌ　 " / 　　,.''　　　　／
  <br>　　　　　　　 　＼ 　 ＿__＼(0廴_//.ｌ│　,/(０)／ 　 　 ／
  <br>　　　　　　　　 　 ｧ'´.:.::::::.......｀;i!⌒｀Π二Π_　/. ＿, ／
  <br>　　 　 　 　 　 　 {.:.:.:.:.:.:＿,､..:::...}￣,| |─.l |ｧ'´.:..:.:.:..:..｀!
  <br>　　　　　　　　　　ゝ:＿/　　‐Y:ﾉ._/ | |　　　ヽ;/⌒,. ｰ '､
  <br>　　　　　　　　,!⌒i!　l|_　＿＿}　l.! r| |ｰ.　　 l i　　＿＿}
  <br>　　　 　 　 　 l! 　 |!二{三三三,f}‐─┐ } 　│}ー─一"
  <br>　　　 　 　 　 l! 　 |!　゛￣￣￣　!i ￣　' 　 　! !
  <br>　　　　　　　　｀ｰ"　　　　 　 　　 ＼ 　＿　.〃
</div>
{% endblock %}
