<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://sageru.org/css/MWN.css" />
  <link rel="shortcut icon" href="https://sageru.org/kareha.ico" />
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body class="mainpage"><div id="titlebox" class="outerbox"><div class="innerbox">
      <div id="rules">
	<h1>Sageru IRC Network</h1>	
	<div class="navigation">
	  <a href="index.html">Home</a>
	  &middot;
	  <a href="rules.html">Server Rules</a>
	  &middot;
	  <a href="faq.html">FAQ</a>
	  &middot;
	  <a href="documentation.html">Documentation</a>
	</div>
      </div>

      {% block content %}{% endblock %}
</body>
</html>
